﻿
@{
    ViewBag.Title = "Index";
}

<h2>Test WebPay</h2>

<div class="container">
    <fieldset>
        <legend><b>Datos de Transacci&oacute;n</b></legend>
        <form method="post" action="@Url.Action("Test", "Home")">
            <table style="600px">
                <tr>
                    <td><label for="commerceId">ID Comercio</label></td>
                    <td><input id="commerceId" type="text" name="commerceId" value="@ViewBag.commerceId" /></td>
                </tr>
                <tr>
                    <td><label for="buyOrder">Orden de Compra</label></td>
                    <td><input id="buyOrder" type="text" name="buyOrder" value="@ViewBag.buyOrder" /></td>
                </tr>
                <tr>
                    <td><label for="sessionId">ID Session</label></td>
                    <td><input id="sessionId" type="text" name="sessionId" value="@ViewBag.sessionId" /></td>
                </tr>
                <tr>
                    <td><label for="returnUrl">Url Retorno</label></td>
                    <td><input id="returnUrl" type="text" name="returnUrl" value="@ViewBag.returnUrl"  style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td><label for="finalUrl">Url Final</label></td>
                    <td><input id="finalUrl" type="text" name="finalUrl" value="@ViewBag.finalUrl"  style="width: 400px;" /></td>
                </tr>
                <tr>
                    <td><label for="commerceCode">Codigo Comercio</label></td>
                    <td><input id="commerceCode" type="text" name="commerceCode" value="@ViewBag.commerceCode" /></td>
                </tr>
                <tr>
                    <td><label for="amount">Cantidad</label></td>
                    <td><input id="amount" type="text" name="amount" value="@ViewBag.amount" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="enviar" value="Enviar" /></td>
                </tr>
            </table>
        </form>
    </fieldset>

</div>
